* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: radial-gradient(circle, rgb(10,10,10) 20%, rgb(20,20,20) 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
}

/****************************
  UI
*****************************/
/** Panels are the highest-level wrapper. */
.panel {
  position: absolute;
  top: 0;
  width: 275px;

  color: white;
  background-color: black;
  padding: 5px;
  border: 1px solid rgba(255,255,255,.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.6);
}

  /** Groups are sets of components with a heading at the top. */
  .panel .group {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 3px;
  }

    .panel .group:last-of-type {
      margin: 0;
    }

    .panel .group .heading {
      margin-bottom: 10px;
      font-size: 14px;
      color: rgba(255,255,255,1);
    }

  /** Components are individual controls (sliders, dropdowns, etc). */
  .panel .component {
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,.7);
    padding: 3px 0;
    width: 100%;

    display: flex;
    align-items: flex-start;
  }

    /** <label> tag */
    .panel .component label {
      flex: 0 0 35%;
    }

      .panel .component.dropdown label {
        padding-top: 4px;
      }

    /** <select> dropdowns */
    .panel .component select {
      flex: 1 1 auto;
      background-color: rgb(255,255,255,.1);
      color: rgba(255,255,255,.7);
      padding: 5px;
      font-size: 12px;
      border: 1px solid rgba(255,255,255,.1);
    }

      .panel .component select option {
        background-color: rgb(0,0,0,.8);
        color: rgba(255,255,255,.7);
      }

    /** Sliders (<input type="range" ...>) */
    .panel .component input[type="range"] {
      flex: 1 1 auto;
      width: 100%;
      margin-top: 5px;
      margin-right: 10px;
      position: relative;
      background-color: transparent;
      -webkit-appearance: none;
    }

      .panel .component input[type="range"]:before {
        position: absolute;
        top: 4px;

        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,.1);
      }

      .panel .component input[type=range]::-webkit-slider-runnable-track {
        background: transparent;
        border: 0;
        width: 100%;
      }

      .panel .component input[type=range]::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
        background: #ffffff;
        -webkit-appearance: none;
      }

      .panel .component input[type=range]::-moz-range-track {
        background: transparent;
        border: 0;
        width: 100%;
      }

      .panel .component input[type=range]::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #ffffff;
      }

      .panel .component input[type=range]::-ms-track {
        background: transparent;
        border: 0;
        width: 100%;
      }

      .panel .component input[type=range]::-ms-fill-lower {
        background: transparent;
        border: 0;
      }

      .panel .component input[type=range]::-ms-fill-upper {
        background: transparent;
        border: 0;
      }

      .panel .component input[type=range]::-ms-thumb {
        width: 10px;
        height: 10px;
        background: #ffffff;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
      }

    /** Text field with value of component. */
    .panel .component .value {
      flex: 1 0 15%;
      width: 100%;
      padding: 2px;
      background-color: rgba(255,255,255,.1);
      border: 1px solid rgba(255,255,255,.15);
      color: rgba(255,255,255,.7);
    }

    /** Buttons */
    .panel .component.button button {
      padding: 6px 10px;
      border-radius: 2px;
      background-color: rgba(255,255,255,.1);
      border: 1px solid rgba(255,255,255,.15);
      color: rgba(255,255,255,.7);
    }

    /** Checkboxes */
    .panel .component.checkbox input + .custom-checkbox {
      position: relative;
      content: '';
      width: 14px;
      height: 14px;

      background-color: rgba(255,255,255,.1);
      border: 1px solid rgba(255,255,255,.1);
    }

      .panel .component.component.checkbox input:checked + .custom-checkbox:after {
        position: absolute;
        left: 1px;
        top: 2px;

        content: '';
        width: 8px;
        height: 4px;
        margin-right: 8px;

        border-left: 2px solid rgba(255,255,255,.7);
        border-bottom: 2px solid rgba(255,255,255,.7);

        transform: rotate(-45deg);
      }

      .panel .component.checkbox input:focus + .custom-checkbox {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
      }

  .panel .count-fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-height: 150px;
    overflow-y: scroll;

    scrollbar-width: 5px;
    scrollbar-color: transparent rgba(255,255,255,.1);
  }

    .panel .count-fieldset::-webkit-scrollbar {
      width: 5px;
      margin-left: 10px;
    }

    .panel .count-fieldset::-webkit-scrollbar-track {
      background-color: rgb(255,255,255,.0);
      border-radius: 100px;
    }

    .panel .count-fieldset::-webkit-scrollbar-thumb {
      background-color: rgb(255,255,255,.7);
      border-radius: 10px;
    }

    .panel .count-fieldset label {
      flex: 0 0 calc(100% / 8);
      margin: 2px;
      padding: 6px 0;
      text-align: center;

      /* border: 1px solid rgba(255,255,255,.15); */
      border-radius: 2px;
      font-size: 12px;
      color: rgba(255,255,255,.8);
    }

      .panel .count-fieldset label:hover,
      .panel .count-fieldset label:focus-within {
        background-color: rgba(255,255,255,.03);
        /* border: 1px solid rgba(255,255,255,.25); */
        color: white;
      }

      .panel .count-fieldset label .custom-checkbox {
        margin-bottom: 2px;
        display: inline-block;
      }